<h1> Surveys </h1>

<% @surveys.each do | survey | %>
  <td>
    <%= "#{survey.title}" %>
    <%= link_to "View Survey", survey_path(survey) %>
    <%= link_to "Edit Survey", edit_survey_path(survey) %>
  </td>
<% end %>

<%= link_to "Create New Survey", new_survey_path %>
